<div  data-controller="elements-calendars-event"
      class="elements-calendars-event container">

  <div class="row mt-5">

    <div class="col-sm-8">
      <div id="calendar" data-target="elements-calendars-event.calendar"></div>
    </div>

    <ul class="list-group col-sm-4" data-target="elements-calendars-event.info"></ul>

  </div>

</div>
