<div  data-controller="elements-calendars-event"
      class="elements-calendars-event container">

  <div class="row mt-5">

    <div class="col-sm-8">
      <div id="calendar" data-target="elements-calendars-event.calendar"></div>
    </div>

    <div class="col-sm-4 border">
    </div>

  </div>

</div>
