<div class="elements-jumbotron">
  <div class="jumbotron">
    <h1 class="display-4"><%= @title %></h1>
    <p class="lead"><%= @subtitle %></p>
    <hr class="my-4">
    <p><%= @text %></p>
    <%= link_to @button[:text], @button[:link], class: 'btn btn-success my-lg' %>
  </div>
</div>
